body {
	margin: 0;
	font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/*****************************************
Navigation Bar
*****************************************/

header {
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 69px;
	z-index: 1;
	background-color: black;
	border-bottom: 1px solid seashell;
}

.logo {
	display: flex;
	flex-grow: 1;
	padding-left: 10px;
}

.logo img {
	height: 50px;
}

header nav {
	padding-right: 40px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

a {
	color: seashell;
	text-decoration: underline;
}

/*****************************************
Header
*****************************************/

.content {
	width: 1200px;
	margin: auto;
	padding-top: 110px;
	text-align: center;
	display: block;
	justify-content: center;
}

.mission {
	background-image: url('../images/mission-background.jpg');
	background-size: cover;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mission-text {
	background-color: black;
	width: 100%;
}

/*****************************************
Tea of Month
*****************************************/

.tom {
	width: 1000px;
	margin: auto;
	padding-top: 70px;
}

.tom-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tom img {
	height: 200px;
	width: 300px;
	padding: 10px 0;
}

.tom-content {
	padding: 10px;
}

/*****************************************
Locations
*****************************************/

.locations {
	height: 500px;
	background-image: url('../images/locations-background.jpg');
	background-size: cover;
	margin-top: 70px;
	padding-top: 70px;
	opacity: 1;
}

.locations h2 {
	margin: 15px 0;
}

.columns {
	display: flex;
	justify-content: center;
}

.left,
.center,
.right {
	width: 300px;
	background-color: black;
	margin: 0 20px;
}

.columns h3,
.columns p {
	padding: 10px 0;
}

/*****************************************
Contact
*****************************************/

.contact {
	height: 200px;
	align-items: center;
	justify-content: center;
}

/*****************************************
Footer
*****************************************/

.footer {
	text-align: left;
	padding: 0 0 40px 20px;
}












